
# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual Environment
.venv/

# IDE
.idea/
.vscode/
*.swp
*.swo
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Testing
.coverage
htmlcov/
.tox/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Distribution
*.log
*.pot
*.pyc
.env

# Ignore Docker Compose override file
docker-compose.override.yml